<div class="main-container">

  <div class="tc-white-1" flex-container="row">
    <div flex-item="3" flex-item-order="1"><div class="bgc-red-500"></div></div>

    <div flex-item="6" flex-item-order="2">

    <span class="fs-display-2 display-block tc-grey-700 app-title">Weather App</span>

      <div flex-container="row" class="p+"> 
        <!-- Main Content here -->
        <div flex-item="12">
          <div class="card tc-black-1 p+">
            <input type="input" placeholder="Enter a city in Japan" class="search-box" ng-model="search" googleplace />
          </div>
        </div>  
      </div>


      <div flex-container="row" class="p+"> 
        <!-- Main Content here -->
        <div flex-item="12">
          <div class="card tc-black-1 p+ weather-card">
            <div class="left">
              <span class="fs-headline display-block tc-grey-800">Tokyo, Japan</span>
              <span class="fs-title display-block tc-grey-700">Wednesday</span>
              <span class="fs-body-1 display-block tc-grey-700">Light showers</span><br>
              <span class="fs-display-2 display-block tc-grey-700">45 <sup>F</sup></span>
            </div>
            <div class="right">
              <span class="fs-title display-block tc-grey-700">Precipitation: 50%</span>
              <span class="fs-title display-block tc-grey-700">Wind: 90%</span>
              <span class="fs-title display-block tc-grey-700">Humidity: 37%</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>  
      </div>

      <div flex-container="row" class="p+"> 
        <!-- Main Content here -->
        <div flex-item="12">
          <div class="card tc-black-1 p+">
           <div class="switch">
            <input type="checkbox" id="switch1" class="switch__input">
            <label for="switch1" class="switch__label tc-grey-700">Show Weather Report for Last Week</label>
          </div>
        </div>
      </div>  
    </div>

  </div>

  <div flex-item="3" flex-item-order="3"><div class="bgc-green-500"></div></div>
</div>

</div>