<div class="main-container">

  <div class="tc-white-1" flex-container="row">
    <div flex-item="3" flex-item-order="1"><div class="bgc-red-500"></div></div>

    <div flex-item="6" flex-item-order="2">

    <span class="fs-display-2 display-block tc-grey-700 app-title">Weather App</span>

      <div flex-container="row" class="p+"> 
        <!-- Main Content here -->
        <div flex-item="12">
          <form ng-submit="doSearch()" class="card tc-black-1 p+">
            <input type="input" placeholder="Enter a city in Japan" class="search-box" ng-model="search" googleplace />
            <button class="btn btn--m btn--grey btn--icon" ng-click="doSearch()" lx-ripple><i class="mdi mdi-magnify"></i></button>
            <div id="progress"></div>
          </form>
        </div>  
      </div>


      <div ng-show="showResult" flex-container="row" class="p+"> 
        <!-- Main Content here -->
        <div flex-item="12">
          <div class="card tc-black-1 p+ weather-card">
            <div class="left">
              <span class="fs-title display-block tc-grey-800">{{ place.formatted_address }}</span>
              <span class="fs-body-1 display-block tc-grey-700">{{ date }}</span>
              <span class="fs-body-2 display-block tc-grey-700">{{ weather.description }}</span><br>
              <span class="fs-display-2 display-block tc-grey-700">{{ temperature }} <sup>C</sup></span>
            </div>
            <div class="right">
              <span class="fs-title display-block tc-grey-700">Pressure: {{ weather.main.pressure }}</span>
              <span class="fs-title display-block tc-grey-700">Humidity: {{ weather.main.humidity }}</span>
              <span class="fs-title display-block tc-grey-700">Wind: {{ weather.wind.speed }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>  
      </div>

      <div flex-container="row" class="p+ footer"> 
        <!-- Main Content here -->
        <div flex-item="12">
          <div class="card tc-black-1 p+">
           <div class="switch">
            <input type="checkbox" id="switch1" ng-model="toogleSwitch" class="switch__input">
            <label for="switch1" class="switch__label tc-grey-700">Show Weather Report for Last Week</label>
          </div>
        </div>
      </div>  
    </div>

  </div>

  <div flex-item="3" flex-item-order="3"><div class="bgc-green-500"></div></div>
</div>

</div>